body{
    margin-left: auto;
    margin-right: auto;
    background:#FFFFFF;
    width:1200px;
    align-items: center;
}

.header{
    position: fixed;
    z-index: 10;
    height: 500px;
    line-height: 300px;
    background: #FFFFFF;
    background:url('/logos_1.svg') no-repeat 50% 50%;
    top:0px;
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}

.header span{
    display: inline-block;
    width: 100%;
    height:inherit;
    font-size: 100px; 
    text-align: left;
    color:#FFFFFF;
}
.block{
    position: relative;
    font-size: 20px;    
    text-align: center;
    z-index: 30;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;   
}
/*-----landing------*/
.block0{
    height: 500px;
    z-index: 5px;}


.block1{
    height: 500px;
    line-height: 500px;
    background:#573EFE;
    font-size: 60px;
    color:#CAD4D4;
    border-radius: 10px;
}
/*-----------------------menu-------------------------------*/
.menu{
    margin-top: -15px;
    height: 100px;
    line-height: 75px;
    background:#573EFE;
    border-radius: 10px;
}
.main-menu{
    padding:0;
    margin:0;

    list-style:none;
    border:1px solid #573EFE;
}
.main-menu>li{
    position:relative;
    display:inline-block;
    width:33%;
    margin-right:-5px;
    background: #FFFFFF;
}
.main-menu li a{
    text-decoration: none;
    display:block;
    padding:8px 10px 8px 70px;
    margin-left:-1px;
    color:#573EFE;
    border-left:1px solid #E5E5E5;
    font-size: 30px;
    font-weight: bold;
}
.main-menu li:hover{
    background:#f5f5f5;
}
.menu-image{
position: absolute;
    left: 100px;
    top:15px;
}

/*------------------------menu-end----------------------*/

.block2{
    height: 300px;
    line-height:150px;
    background: #ffffff;
    font-size: 60px;
    color:#573EFE;
    font-weight: bold;
}

/*-----columns------*/
.block3{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 30%;
    background: #1AD1FF;
    color: #CAD4D4;
    font-size: 40px;
    margin-left: 3%;
}
.block3 span{
    display: inline-block;
    height: 400px;   
}
.block3 img{
position: absolute;
    bottom:50px;
     left:150px;
}


.block4{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 30%;
    background: #1AFAFF;  
    color: #CAD4D4;
    font-size: 40px;

}
.block4 img{
position: absolute;
    bottom:50px;
     left:150px;
}

.block5{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 30%;
    background: #1AD1FF;
    color: #CAD4D4;
    font-size: 40px;

}
.block5 img{
    position: absolute;
    bottom:50px;
     left:150px;
}
.vstavka{
    float: left;
    height: 400px;
    background: white;
    width: 2%
}

/*-----finishing part------*/
.space-block{
    height:20px; 
    background: #ffffff;
}

.block6{
    height: 300px; 
    line-height: 300px;
    font-size: 60px;
    background: #573EFE;
    color: #CAD4D4;
    border-radius: 10px;
}


.block7{
     height: 300px;
     background: #FFFFFF;
    z-index: 5;
}

.footer{
    width:1200px;
    height: 300px;
    line-height: 300px;
    background: #FFFFFF;
    position: fixed;
    z-index: 10;
    bottom:0px;
    color: black;
    margin-left: auto;
    margin-right: auto;

}
.footer span{
    display: inline-block;
    width: 100%;
    height:inherit;
    font-size: 80px; 
    text-align: center;
}

.clearfix:after{
    background: white;
    content:'';
    display:table;
    clear:both;
    
}