body{
    margin:0;
    padding:0;
    background:black;
}

.header{
    position: fixed;
    z-index: 10;
    height: 300px;
    line-height: 300px;
    background: #D8E8CF;
    background:url('/logo3.png') no-repeat 50% 50%;
    top:0px;
    width:100%;
}

.header span{
    display: inline-block;
    width: 100%;
    height:inherit;
    font-size: 100px; 
    text-align: left;
    color:#FFFFFF;
}
.block{
    position: relative;
    font-size: 20px;    
    text-align: center;
    z-index: 30;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;   
}
/*-----landing------*/
.block0{
    height: 300px;
    z-index: 5px;}


.block1{
    height: 600px;
    line-height: 600px;
    background: #FF7519;
    font-size: 60px;
    color:#CAD4D4;
}

.block2{
    height: 300px;
    line-height:150px;
    background: #FFB84D;
    font-size: 60px;
    color:#FFFFFF;
}

/*-----columns------*/
.pre-block3{
    float: left;
    height: 400px;
    width: 5%;
    background: #FFC8A3;
}


.block3{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 30%;
    background: #FFC8A3;
    color: #FF7519;
    font-size: 40px;
}
.block3 span{
    display: inline-block;
    height: 400px;   
}
.block3 img{
position: absolute;
    bottom:50px;
     left:150px;
}


.block4{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 30%;
    background: #E6B493;  
    color: #FF7519;
    font-size: 40px;
}
.block4 img{
position: absolute;
    bottom:50px;
     left:150px;
}

.block5{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 30%;
    background: #FFC8A3;
    color: #FF7519;
    font-size: 40px;
}
.block5 img{
position: absolute;
    bottom:50px;
     left:150px;
}

.post-block5{
    float: left;
    height: 400px;
    line-height: 400px;
    width: 5%;
    background: #FFC8A3;
}

.menu1{
    position: absolute;
    top:130px;
    left:10px;
}
.menu2{
    position: absolute;
    top:200px;
    left:10px;
}
.menu3{
    position: absolute;
    top:260px;
    left:10px;
}

/*-----finishing part------*/
.block6{
    height: 300px; 
    line-height: 300px;
    font-size: 60px;
    background: #FFB84D;
}

.block7{
     height: 300px;
     background: #FFFFFF;
    z-index: 5;
}

.footer{
    width:100%;
    height: 300px;
    line-height: 300px;
    background: black;
    position: fixed;
    z-index: 10;
    bottom:0px;
    color: #FFFFFF;

}
.footer span{
    display: inline-block;
    width: 100%;
    height:inherit;
    font-size: 80px; 
    text-align: center;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}